body{
    width: 100vw;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

h1{
    color: #e4ac1f;
}

.cabecalho-lista{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #e4ac1f;;
}

.cabecalho-lista-item{
    margin-right: 30px;
    font-size: 20px;
}

.banner{
    width: 100vw;
    height: 75vh;
    contain: content;
    position: relative;
}

.banner img{
    width: 100%;
    position: absolute;
}

